<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>936427690754-bcqq5ob33no1j0a83qulsp2mqfmk2frr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936427690754-bcqq5ob33no1j0a83qulsp2mqfmk2frr</string>
	<key>API_KEY</key>
	<string>AIzaSyDFa8ExlL3pD-FeN9lXK-ZkX1THXe5zXWA</string>
	<key>GCM_SENDER_ID</key>
	<string>936427690754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lake.RPSSignOut</string>
	<key>PROJECT_ID</key>
	<string>argooutfr</string>
	<key>STORAGE_BUCKET</key>
	<string>argooutfr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:936427690754:ios:45e1555b1c76dd66</string>
	<key>DATABASE_URL</key>
	<string>https://argooutfr.firebaseio.com</string>
</dict>
</plist>
